In [1]:
import geopandas as gpd
import requests
import os 
from dotenv import load_dotenv
import urllib
from geo_functions import nTiles, num2deg, deg2num
import pandas as pd
import numpy as np

In [2]:
gdf = gpd.read_file("/home/jorgelm/data-projects/prework-pool-detection/Swimming_Pools_2015/Swimming_Pools_2015.shp")

In [3]:
gdf['centroid'] = gdf['geometry'].centroid

In [12]:
load_dotenv()
key = 'GOOGLETOKEN'
value = os.getenv(key)

In [24]:
y_coord= gdf.centroid[0].y
x_coord = gdf.centroid[0].x
# res = requests.get(f"https://maps.googleapis.com/maps/api/staticmap?center=y,x&zoom=20&size=400x400&maptype=satellite&key={value}")

In [40]:
import urllib.request


def downloader(image_url, i):
    file_name = "pool-"+ str(i) + '.png'
    urllib.request.urlretrieve(image_url,file_name)

## The below downloads 
# downloader(f"https://maps.googleapis.com/maps/api/staticmap?center={y_coord},{x_coord}&zoom=20&size=400x400&maptype=satellite&key={value}")

In [ ]:
# Download all Washington pools, commented to avoid executing
# for index, row in gdf.iterrows():
#     y_coord= row.centroid.y
#     x_coord = row.centroid.x
#     url = f"https://maps.googleapis.com/maps/api/staticmap?center={y_coord},{x_coord}&zoom=20&size=400x400&maptype=satellite&key={value}"
#     downloader(url, index)

In [43]:
#Centroid coordinates

In [9]:
gdf["centroid_export"] = gdf.centroid.apply(lambda row: (row.x, row.y))

In [12]:
df1 = pd.DataFrame(gdf.centroid_export)

In [13]:
df1

                               centroid_export
0       (-77.0378993859784, 38.98679513772656)
1       (-77.0382505072557, 38.98663581028714)
2       (-77.0411109570142, 38.98644830105077)
3      (-77.03730924321326, 38.98625899748525)
4      (-77.03785329572912, 38.98629794946241)
...                                        ...
1612   (-77.00976534197933, 38.82265014722453)
1613   (-77.00833802868878, 38.82261431077552)
1614  (-77.00844052988481, 38.822476964558625)
1615   (-77.00965828520242, 38.82241530417863)
1616   (-77.01346207707968, 38.81602552376429)

[1617 rows x 1 columns]

In [14]:
df1.to_csv("centroids.csv")

## Getting satellite c.6000 photos of Washington D.C

In [16]:
#Defining map tiles from coordinates

In [3]:
c1=(-77.05166816711426, 38.90733151751689)
c2=(-77.01313018798828, 38.89183448892334)
tiles = nTiles(c1, c2)
tiles

6554

In [4]:
chosen_tiles = deg2num(*c1), deg2num(*c2)

In [5]:
tiles = []
longitudes = []
latitudes = []
for i in range(chosen_tiles[0][1], chosen_tiles[1][1]):
    for j in range(chosen_tiles[0][0], chosen_tiles[1][0]):
        tiles.append([j, i])
        coords = num2deg(j+0.5, i+0.5)
        longitudes.append(coords[0])
        latitudes.append(coords[1])
print(coords)

[-77.01330184936523, 38.89223531674779]

In [6]:
df = pd.DataFrame(data={'tiles': tiles, 'Longitude': longitudes, 'Latitude': latitudes})
df

                 tiles  Longitude   Latitude
0     [299858, 401090] -77.051754  38.907465
1     [299859, 401090] -77.051411  38.907465
2     [299860, 401090] -77.051067  38.907465
3     [299861, 401090] -77.050724  38.907465
4     [299862, 401090] -77.050381  38.907465
...                ...        ...        ...
6549  [299966, 401147] -77.014675  38.892235
6550  [299967, 401147] -77.014332  38.892235
6551  [299968, 401147] -77.013988  38.892235
6552  [299969, 401147] -77.013645  38.892235
6553  [299970, 401147] -77.013302  38.892235

[6554 rows x 3 columns]

In [9]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude))
gdf

                 tiles  Longitude   Latitude                    geometry
0     [299858, 401090] -77.051754  38.907465  POINT (-77.05175 38.90747)
1     [299859, 401090] -77.051411  38.907465  POINT (-77.05141 38.90747)
2     [299860, 401090] -77.051067  38.907465  POINT (-77.05107 38.90747)
3     [299861, 401090] -77.050724  38.907465  POINT (-77.05072 38.90747)
4     [299862, 401090] -77.050381  38.907465  POINT (-77.05038 38.90747)
...                ...        ...        ...                         ...
6549  [299966, 401147] -77.014675  38.892235  POINT (-77.01468 38.89224)
6550  [299967, 401147] -77.014332  38.892235  POINT (-77.01433 38.89224)
6551  [299968, 401147] -77.013988  38.892235  POINT (-77.01399 38.89224)
6552  [299969, 401147] -77.013645  38.892235  POINT (-77.01365 38.89224)
6553  [299970, 401147] -77.013302  38.892235  POINT (-77.01330 38.89224)

[6554 rows x 4 columns]

In [15]:
+(401148-401090)*(299971-299858)

6554

In [13]:
gdf.geometry[0].latitude

AttributeError: 'Point' object has no attribute 'latitude'

In [21]:
column=geometry

NameError: name 'geometry' is not defined

In [ ]:
def download_tiles(gdf, name="image-", column="geometry")
    for index, row in gdf.iterrows():
        y_coord= row[column].y
        x_coord = row[column].x
        url = f"https://maps.googleapis.com/maps/api/staticmap?center={y_coord},{x_coord}&zoom=20&size=400x400&maptype=satellite&key={value}"
        downloader(url, index, name)