In [2]:
from PIL import Image
import numpy as np
import glob
import pandas as pd

In [6]:
gt_array = []
ground_truth = glob.glob('/home/jorgelm/data-projects/pool-rastreator/input-ignore/dataframe_nn/true_positives/*.png')
for e in ground_truth:
    im = Image.open(e)
    rgb_im = im.convert('RGB')
    np_im = np.array(rgb_im)
    gt_array.append(np_im)

In [7]:
no_pool = []
no_pool_dir = glob.glob('/home/jorgelm/data-projects/pool-rastreator/input-ignore/dataframe_nn/false_positives/*.png')
for e in no_pool_dir:
    im = Image.open(e)
    rgb_im = im.convert('RGB')
    np_im = np.array(rgb_im)
    no_pool.append(np_im)

In [10]:
df = pd.DataFrame({"Pic": gt_array})
df["pool"] = 1
df["no_pool"] = 0
df_2 = pd.DataFrame({"Pic": no_pool, "pool":0, "no_pool": 1})
df_3 = pd.concat([df, df_2])
df_3.to_pickle("df.pkl")

In [11]:
df_3.head()

                                                 Pic  pool  no_pool
0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
1  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
2  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
3  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
4  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0

In [12]:
df_3

                                                   Pic  pool  no_pool
0    [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
1    [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
2    [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
3    [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
4    [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     1        0
..                                                 ...   ...      ...
464  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     0        1
465  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     0        1
466  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     0        1
467  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     0        1
468  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...     0        1

[1042 rows x 3 columns]

In [19]:
np.mean(df.loc[468,"Pic"])

0.6639658610026041