In [117]:
import numpy as np
import math

$x = \frac{128}{π} * 2^{zoom} * (λ + π)  $

In [98]:
zoom = 20
longitude = -77.0378993859784
latitude = 38.98679513772656
width, heigh = 400, 400

In [91]:
def coords_to_pixel(longitude, latitude, zoom):
    x = (128/np.pi) * (2**zoom) * (np.radians(longitude) + np.pi)
    y = (128/np.pi) * (2**zoom) * (np.pi - np.log(np.tan(np.pi/4 + np.radians(latitude)/2)))
    return x, y

In [99]:
def pixel_to_coords(x,y,zoom):
    longitude = x / ((128/np.pi) * (2**zoom)) - np.pi
    latitude = 2 * np.arctan(np.exp(np.pi - y / (128 / np.pi*2**zoom))) - np.pi / 2
    return (np.degrees(longitude), np.degrees(latitude))

In [110]:
def bounds_coords(longitude, latitude, zoom):
    x = coords_to_pixel(longitude, latitude, zoom)[0]
    y = coords_to_pixel(longitude, latitude, zoom)[1]
    
    left = x - (width/2)
    right = x + (width/2)
    top = y - (heigh/2)
    bottom = y + (heigh/2)
    
    left_bottom_coords = pixel_to_coords(left, bottom, zoom)
    right_top_coords = pixel_to_coords(right, top, zoom)
    
    return [left_bottom_coords, right_top_coords]

In [112]:
bounds_coords(longitude, latitude, 20)

[(-77.0381676068799, 38.98658665173235),
 (-77.0376311650769, 38.987003623106716)]

In [141]:
def deg2num(lon_deg, lat_deg, zoom):
    lat_rad = math.radians(lat_deg)
    n = 2.0 ** zoom
    xtile = int((lon_deg + 180.0) / 360.0 * n)
    ytile = int((1.0 - math.asinh(math.tan(lat_rad)) / math.pi) / 2.0 * n)
    return (xtile, ytile)

In [119]:
def num2deg(xtile, ytile, zoom):
    n = 2.0 ** zoom
    lon_deg = xtile / n * 360.0 - 180.0
    lat_rad = math.atan(math.sinh(math.pi * (1 - 2 * ytile / n)))
    lat_deg = math.degrees(lat_rad)
    return (lat_deg, lon_deg)

In [124]:
deg2num(38.98658665173235, -77.0381676068799, 20)

(299898, 400794)

In [125]:
num2deg(299898, 400794, 20)

(38.98663397879042, -77.03819274902344)

In [126]:
import geopandas as gpd

In [127]:
import pandas as pd

In [129]:
gdf = gpd.read_file("/home/jorgelm/data-projects/prework-pool-detection/mygeodata/swimming_polygon.shp")

In [130]:
gdf

,leisure,access,name,addr_city,addr_house,addr_postc,addr_state,addr_stree,operator,covered,sport,building,geometry
0,swimming_pool,customers,Hot tub,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.53263 29.55728, -98.53262 29.557..."
1,swimming_pool,customers,Infinity Pool,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.53289 29.55749, -98.53285 29.557..."
2,swimming_pool,customers,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.64277 29.43947, -98.64273 29.439..."
3,swimming_pool,customers,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.53281 29.55743, -98.53264 29.557..."
4,swimming_pool,membership,Colonies North Pool,None,None,None,None,None,Colonies House,None,None,None,"POLYGON ((-98.55355 29.53354, -98.55332 29.533..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,swimming_pool,None,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.61069 29.59981, -98.61059 29.599..."
257,swimming_pool,None,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.61017 29.60070, -98.61017 29.600..."
258,swimming_pool,None,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.60745 29.61064, -98.60743 29.610..."
259,swimming_pool,None,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.59662 29.61403, -98.59651 29.614..."
260,swimming_pool,None,None,None,None,None,None,None,None,None,None,None,"POLYGON ((-98.61902 29.65093, -98.61876 29.650..."

In [131]:
# {
#   "type": "FeatureCollection",
#   "features": [
#     {
#       "type": "Feature",
#       "properties": {},
#       "geometry": {
#         "type": "Polygon",
#         "coordinates": [
#           [
#             [
#               -77.04668998718262,
#               38.89183448892334
#             ],
#             [
#               -77.00935363769531,
#               38.89183448892334
#             ],
#             [
#               -77.00935363769531,
#               38.911739537010554
#             ],
#             [
#               -77.04668998718262,
#               38.911739537010554
#             ],
#             [
#               -77.04668998718262,
#               38.89183448892334
#             ]
#           ]
#         ]
#       }
#     }
#   ]
# }

In [132]:
coordinate1 = (-77.04668998718262, 38.89183448892334)

In [133]:
coordinate2 = (-77.00935363769531, 38.911739537010554)

In [134]:
c1_til = deg2num(38.89183448892334, -77.04668998718262, 20)

In [135]:
c1_til

(299873, 401148)

In [136]:
c2_til = deg2num(38.911739537010554, -77.00935363769531, 20)

In [137]:
c2_til

(299982, 401074)

In [138]:
c2_til[0]-c1_til[0]

109

In [139]:
c2_til[1]-c1_til[1]

-74

In [140]:
+109*74

8066

In [148]:
def nTiles(left_top_coord, right_bottom_coord):
    #input coords as (longitude, latitude)
    c1_tile = deg2num(left_top_coord[0], left_top_coord[1], zoom=20)
    c2_tile = deg2num(right_bottom_coord[0], right_bottom_coord[1], zoom=20)
    print(c1_tile, c2_tile)
    return ((c1_tile[0]-c2_tile[0])*(c1_tile[1]-c2_tile[1]))

In [149]:
c1=(-77.05166816711426, 38.90733151751689)
c2=(-77.01313018798828, 38.89183448892334)

nTiles(c1, c2)

(299858, 401090) (299971, 401148)

6554